# SPDX-License-Identifier: MIT

BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true

PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1

AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

SortIncludes: false
IncludeBlocks: Preserve
